<% include ../nav.ejs %>
<main class="page blog-post-list">
  <section class="clean-block clean-blog-list">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info"><%= page_name %></h2>
      </div>
      <div class="block-content">
        <% for (let work of works) { %>
        <div class="clean-blog-post">
          <div class="row">
            <div class="col-lg-5">
              <img class="rounded img-fluid" src="img/tech/image4.jpg" />
            </div>
            <div class="col-lg-7">
              <h3>제목 : <%= work.title %></h3>
              <br />
                <h5><a href="inquire/author">저자</a> : <%= work.author_name %></h5>
              <br />
              <p>설명 : <%= work.description %></p>
              <br />
              <a class="btn btn-primary btn-block" href="<%= `/inquire/expression/${work.title}` %>">이동</a>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </section>
</main>
